#{extends 'main.html' /}
#{set title:'Search results' /}
#{set menuactivation:'no' /}







    <div id="">

        <div class="row">


                <div class="col-md-12">
                    <div class="blockquote-box blockquote-info  clearfix">

                        <div class="square pull-left">
                            <span class="glyphicon"> Viadeo</span>
                        </div>





                        <h4>Bootsnipp</h4>



                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                            ante.




                        </p>



                    </div>
                    <div class="blockquote-box blockquote-primary clearfix">
                        <div class="square pull-left">
                            <span class="glyphicon"> Facebook</span>
                        </div>
                        <h4>
                            Let's music play</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                            ante.
                        </p>
                    </div>
                    <div class="blockquote-box blockquote-success clearfix">
                        <div class="square pull-left">
                            <span class="glyphicon ">Google</span>
                        </div>
                        <h4>
                            Tree conifer</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                            ante.
                        </p>
                    </div>
                </div>









        </div>




























    </div>


