<!DOCTYPE html>

<html lang="${lang}">
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>&{'secure.title'}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

    <!-- boots css -->
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-theme.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-glyphicons.css'}" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}" rel="stylesheet">

#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

#{get 'moreScripts' /}
    <link href="http://brams.com/corporationlogin/css/style.css" rel="stylesheet">
    <style>
        .input-group-addon{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .form-control{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    </style>

</head>
<body class="">
<nav class="navbar navbar-inverse" role="navigation">
</nav>
<div class="container-fluid">

    <div class="row-fluid " style="">
        <div class="col-md-3 col-md-offset-4 login-plain"  >
            <div class="row-fluid">
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-3" style="background: rgb(26,111,238);height:5px;"></div>
                        <div class="col-md-3" style="background: rgb(219,69,50);height: 5px;"></div>
                        <div class="col-md-3" style="background: rgb(255,186,1);height: 5px;"></div>
                        <div class="col-md-3" style="background: rgb(1,157,89);height: 5px;"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-12 " >

        #{doLayout /}



                        </div>

                    </div>
                </div>



            </div>
        </div>

        <div class="col-md-4">
        #{if flash.error}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>&{flash.error}</strong> Please provide valid authorization.
            </div>
        #{/if}

        #{if flash.success}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>

                <strong>	&{flash.success}       </strong>

            </div>
        #{/if}
        </div>



    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="@{'/public/javascripts/jquery2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/TweenLite.min.js'}" type="text/javascript" charset="${_response_encoding}" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).mousemove(function(e){
            TweenLite.to($('body'),
                    .5,
                    { css:
                    {
                        'background-position':parseInt(event.pageX/8) + "px "+parseInt(event.pageY/12)+"px, "+parseInt(event.pageX/15)+"px "+parseInt(event.pageY/15)+"px, "+parseInt(event.pageX/30)+"px "+parseInt(event.pageY/30)+"px"
                    }
                    });
        });
    });
</script>
</body>
</html>