#{extends 'Secure/layout.html' /}

<div class="form-inline">

    <h1>&{'secure.title'}</h1>

#{form @authenticate()}
    <fieldset class="loginform">

        #{if flash.error}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>

                <strong>&{flash.error}</strong> Please provide valid authorization.

            </div>
        #{/if}

        #{if flash.success}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>

                <strong>	&{flash.success}       </strong>

            </div>
        #{/if}


        <input name="username" id="username" type="text" class="form-control" placeholder="Utilisateur" value="${flash.username}" required autofocus>
        <br><br>
        <input name="password" id="password" type="password" class="form-control" placeholder="Mot de passe" required>

         <br>
        <br>
        <label class="pull-left" style="margin-left:5px;margin-right:15px;" for="remember">&{'secure.remember'}</label>
        <input   class="pull-left" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />

        </label>


        <span class="clearfix"></span>



        <input  class="btn btn-lg btn-primary btn-block" type="submit" id="signin" value="&{'secure.signin'}" />


    </fieldset>
#{/form}



    <br><br>


    <form action="@{OpenIdService.authenticate()}" method="POST">
        <input type="Hidden" name="userOpenId" id="userOpenId" value="https://www.google.com/accounts/o8/id" />
        <a href="@{OpenIdService.authenticate()}">
            <img width="100%" src="@{'/public/images/google.png'}"  />
        </a>
    </form>


</div>