#{extends 'Secure/layout.html' /}



#{form @authenticate()}



     <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
     alt="">


        <!-- Form Name -->


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-12" for="textinput">Email</label>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input name="username" id="username" type="text" class="form-control" placeholder="Username" value="${flash.username}" required autofocus style=" border-left: 2px solid rgb(108, 130, 214); ">
                </div>

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-12" for="passwordinput">Password</label>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-ok-circle"></span></span>
                    <input name="password" id="password" type="password" class="form-control" placeholder="Password" style=" border-left: 2px solid rgb(108, 130, 214); ">
                </div>
                <div class="input-group">


                    <label class="checkbox pull-left">
                        <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''}>
                        Remember me
                    </label>

                </div>


            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12 col-md-offset-0" >
                <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary" style=" width: 100%; " value="&{'secure.signin'}" />
                <hr>
                <form action="@{OpenIdService.authenticate()}" method="POST">
                    <input type="Hidden" name="userOpenId" id="userOpenId" value="https://www.google.com/accounts/o8/id" />

                    <a href="@{OpenIdService.authenticate()}" style=" width: 100%;" class="btn btn-danger">
                        Sign in with Google
                    </a>
                    <hr>

                </form>
            </div>
        </div>






#{/form}






</div>