@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


/* fonte face */
@font-face {
    font-family: "open_sanslight";
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Light-webfont.woff') format('woff'),
    url('../font/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



html {
    font-family: 'open_sanslight';
}

body{
    font-family: 'open_sanslight';
    margin-top:20px;

}
.fa-fw {width: 2em;}


.menu {
    margin-left: 2%;
    margin-right: 9%;
}


.menu .nav {
    border: 1px solid #ddd;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }



.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;

}

.pad{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}



#wrap{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: 'open_sanslight';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
}


.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}

.shape{
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}
.offer{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer-radius{
    border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
    border-color: transparent #d9534f transparent transparent;
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
    border-color: transparent #5cb85c transparent transparent;
    border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
    border-color: transparent #999999 transparent transparent;
    border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
    border-color: transparent #428bca transparent transparent;
    border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
    border-color: transparent #5bc0de transparent transparent;
    border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
    border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}
.offer-content{
    padding:0 20px 10px;
}



.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.navbar {
    border-radius: 0px !important;
}

.navbar-default .navbar-brand {
    font-size: 20px !important;
}

.navbar-custom {
    margin-top: -20px;
}

.navbar-right-pad {
    padding-right: 8%;
}


.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%) !important;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%) !important;
    background-repeat: repeat-x;
}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.custom-search-form{
    margin-top:5px;
}

/* search results bootstrapped*/

.glyphicon-lg{font-size:3em}
.blockquote-box{
    border-right: 5px solid #E6E6E6;
    margin-bottom: 25px;
    background-color: #F4F4F4;
    min-height: 100px;
}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}


/* search results big */

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }


