#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">New Customer</div>


    <div id="wrap">
        <div class="row pad">
        #{form  @Customers.save(customer.id)  }
            <div class="col-md-5 col-md-offset-1">


            <div class="form">


                    <br>

            #{if flash.error}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Warning!</strong> Best check your self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                    </div>
            #{/if}



                <input type="text" name="companyName" id="companyName" class="form-control  " placeholder="Company Name"/>

                <input type="text" name="firstname" id="firstname" class="form-control  " placeholder="Firstname"/>

                <input type="text" name="lastname" id="lastname" class="form-control  " placeholder="Lastname"/>

                <input type="text" name="email" id="email" class="form-control  " placeholder="Email"/>

                <input type="text" name="phone" id="phone" class="form-control  " placeholder="Phone"/>

                <input type="text" name="fax" id="fax" class="form-control  " placeholder="Fax"/>



                   Address

                   <textarea name="adress" id="adress" class="form-control  " placeholder="Adress"> </textarea>





                <br/>
                    <br/>
                    <input type="submit" value="Save the new Customer" class="btn  btn-success btn-block " >



            </div>



            </div>



            <div class="col-md-5 col-md-offset-0">
                <br>

                <h4>Customer contact</h4>

                <p>

                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt sed diam nonummy sed diam nonummy sed diam nonummy sed diam nonummy sed diam sed  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ex ea commodo consequat. Duis autem dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum

                </p>

                <br>

                <a href="@{Customers.index()}" class="btn  btn-primary btn-block " type="submit">
                    All available customers
                </a>


            </div>

        #{/form}
        </div>


        <br><br><br>
    </div>


</div>



<script type="text/javascript" charset="utf-8">
    $(function() {
        // Expose the form
        $('form').click(function() {
            $('form').expose({api: true}).load();
        });

        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load();
            $('form input[type=text]').get(0).focus();
        }
    });
</script>