<div class="modal fade" id="${_modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">&{'general.conf.del'} &{'general.item'}</h4>
            </div>
            <div class="modal-body">
            &{'general.conf'}
                <input type="hidden" id="itemId" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'general.close'}</button>
                <a href="#"   class="confirm-delete-btn btn btn-primary">&{'general.save'}</a>
            </div>
        </div>
    </div>
</div>