<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-offset-1">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">${play.i18n.Messages.get("brand")}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@{Categories.index()}">Product Categories</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Products.index()}">Products</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Purchases.index()}">Purchases</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Sales.index()}">Sales</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>



        <ul class="nav navbar-nav navbar-right navbar-right-pad">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">${session.get("email")} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@{Users.index()}">Accounts</a></li>
                    <li><a href="#">Progress</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Secure.logout()}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>