<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-offset-1">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand glyphicon glyphicon-cloud"></span>
        <a class="navbar-brand" href="/"> ${play.i18n.Messages.get("brand")}</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@{Categories.index()}">Product Categories</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Products.index()}">Products</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Purchases.index()}">Purchases</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Sales.index()}">Sales</a></li>
                </ul>
            </li>
        </ul>




        <div class="navbar-form " role="search">
        #{form @Services.googleSearch(), method:'GET'}
            <div class="col-lg-3">
                <div class="input-group input-group-sm custom-search-form">
                    <input type="text" id="q" name="q" style="margin-top: 1px;" class="form-control">
              <span class="input-group-btn">


              <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
             </span>
                </div><!-- /input-group -->
            </div>
        #{/form}
        </div>



        <ul class="nav navbar-nav navbar-right navbar-right-pad" style="margin-top: -8px;">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">${session.get("email")} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@{Users.index()}">Accounts</a></li>
                    <li class="divider"></li>
                    <li><a href="@{Secure.logout()}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>