<nav class="navbar navbar-default navbar-custom" style="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-offset-1">
        <span class="navbar-brand" href="#">Dashboard</span>




    </div>


    <ul class="nav navbar-nav pull-right navbar-right-pad">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parametters <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>

</nav>