<div dir="ltr" style="overflow: hidden;">
    <div class="loading-back">
        <style type="text/css">.disqus-loader {
            animation: disqus-embed-spinner .7s infinite linear;
            -webkit-animation: disqus-embed-spinner .7s infinite linear
        }

        @keyframes disqus-embed-spinner {

        0%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(360deg)
        }
            }

        @-webkit-keyframes disqus-embed-spinner {

        0%{
            -webkit-transform: rotate(0deg)
        }
        100%{
            -webkit-transform: rotate(360deg)
        }
            }</style>
        <div class="disqus-loader loading-disk"
             ></div>
    </div>
</div>