#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">New category</div>


    <div id="">

        <div class="row pad col-md-offset-1">
        #{form  @Categories.save(category.id), enctype:'multipart/form-data'  }
            <div class="col-md-11 ">


            <div class="form">


                    <br>

            #{if flash.error}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close"  aria-hidden="true">&times;</button>
                        <strong>Warning!</strong> Best check your self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                    </div>
            #{/if}






                <div class="row">
                        <div class="col-md-2">
                            Name
                        </div>

                <div class="col-md-7">
                    <input type="text" name="name" id="name" class="form-control  " placeholder="Name"/>
                </div>


                </div>
                <hr>

                  <div class="row">
                      <div class="col-md-2">
                          Description
                      </div>

                      <div class="col-md-7">
                          <textarea style="" name="description" id="description" class="form-control  " placeholder="Description"> </textarea>
                      </div>
                  </div>
                <hr>


                <div class="row">
                    <div class="col-md-2">
                          Upload file
                    </div>

                    <div class="col-md-7">
                        <input type="file" name="attachment" id="attachment" class="form-control  " placeholder="Attachment"/>
                    </div>
                </div>
                <hr>



                <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <input type="submit" value="Save the new category" class="btn  btn-success btn-block " >
                </div>
                </div>


            </div>



            </div>




        #{/form}
        </div>


        <br><br><br>
    </div>


</div>


#{form_effect /}