#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Update category</div>


    <div id="wrap">
        <div class="row pad">
            <div class="col-md-5 col-md-offset-1">


                <div class="form">



                #{form  @Categories.update()  }

                    <br>

                    #{if flash.error}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> Best check yo self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                        </div>
                    #{/if}





                    <input type="text" value="${category.name}" name="name" id="name" class="form-control  "
                           placeholder="Name"/>

                    <textarea value="${category.description}" name="description"  id="description" class="form-control  "
                           placeholder="Description">${category.description}</textarea>


                    <input type="hidden" name="id" value="${category.id}">

                    <br/>
                    <br/>
                    <input type="submit" value="Update category" class="btn  btn-success btn-block ">


                #{/form}



                </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
                <br>
                <h4>Categories</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    sed diam nonummy sed diam nonummy sed diam nonummy sed diam nonummy sed diam sed ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ex ea commodo consequat. Duis autem dolor
                    in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                    at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                </p>
                <br>
                <a href="@{Categories.index()}" class="btn  btn-primary btn-block " type="submit">
                    All available categories
                </a>


            </div>


        </div>


        <br><br><br>
    </div>


</div>


<script type="text/javascript" charset="utf-8">
    $(function () {
        // Expose the form
        $('form').click(function () {
            $('form').expose({api: true}).load();
        });

        // If there is an error, focus to form
        if ($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load();
            $('form input[type=text]').get(0).focus();
        }
    });
</script>