#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Update category</div>


    <div id="wrap">
        <div class="row pad">
        #{form  @Categories.update(), enctype:'multipart/form-data'  }
            <div class="col-md-5 col-md-offset-1">


                <div class="form">





                    <br>

                    #{if flash.error}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> Best check your self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                        </div>
                    #{/if}





                    <input type="text" value="${category.name}" name="name" id="name" class="form-control  "
                           placeholder="Name"/>

                    <textarea value="${category.description}" name="description"  id="description" class="form-control  "
                           placeholder="Description">${category.description}</textarea>


                    <input type="file" name="attachment" id="attachment" class="form-control  " placeholder="Attachment"/>



                    #{if category.attachment.get() != null}
                        <a target="#" href="@{Categories.getUploadedFile(category.id)}">&{'general.download'}</a>
                    #{/if}



                    <input type="hidden" name="id" value="${category.id}">

                    <br/>
                    <br/>
                    <input type="submit" value="Update category" class="btn  btn-success btn-block ">






                </div>
            </div>


            <div class="col-md-5 col-md-offset-0">
                <br>


                <div class="panel panel-default">
                    <div class="panel-image">
                        <img src="@{Categories.getUploadedFile(category.id)}" class="panel-image-preview" height="200px;" />
                        <label for="toggle-1"></label>
                    </div>
                    <input type="checkbox" id="toggle-1" class-"panel-image-toggle">
                    <div class="panel-body">
                        <h4>Title of Image</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="@{Categories.getUploadedFile(category.id)}" target="_blank"><span class="glyphicon glyphicon-download"></span></a>

                    </div>
                </div>

                <br>

                <a href="@{Categories.index()}" class="btn  btn-primary btn-block " type="submit">
                    All available categories
                </a>


            </div>

        #{/form}
        </div>


        <br><br><br>
    </div>


</div>


#{form_effect /}