#{extends 'main.html' /}
#{set title:'new product' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">New product</div>


    <div id="">
        <div class="row pad">
        #{form  @Products.save(product.id), enctype:'multipart/form-data'  }
            <div class="col-md-5 col-md-offset-1">


            <div class="form">


                    <br>

            #{if flash.error}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close"  aria-hidden="true">&times;</button>
                        <strong>Warning!</strong> Best check your self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                    </div>
            #{/if}




                    <input type="text" name="name" id="name" class="form-control  " placeholder="Name"/>



                   Description

                   <textarea name="description" id="description" class="form-control  " placeholder="Description"> </textarea>


                   <input type="text" name="price" id="price" class="form-control  " placeholder="Price"/>


                   <input type="file" name="attachment" id="attachment" class="form-control  " placeholder="Attachment"/>


            <div class="">
                #{if categories.size() > 0}
                    Category
                    <select name="category" class = "form-control " name="roleId" id="roleId">
                        <option value=""></option>
                        #{list items:categories, as:'item'}
                            <option value="${item.id}">${item.name}</option>
                        #{/list}
                    </select>

                #{/if}
                #{else }
                    <a href="@{Categories.add()}" class="btn btn-warning pull-left btn-block">
                        <span class="glyphicon glyphicon-plus"></span> New Category
                    </a>
                #{/else}
            </div>






            <div class="">
            #{if suppliers.size() > 0}
                Supplier
                    <select name="supplierId" class = "form-control " name="roleId" id="roleId">
                        <option value=""></option>
                        #{list items:suppliers, as:'item'}
                            <option value="${item.id}">${item.companyName}</option>
                        #{/list}
                    </select>

            #{/if}
                #{else }
                    <a href="@{Suppliers.add()}" class="btn btn-warning pull-left btn-block">
                        <span class="glyphicon glyphicon-plus"></span> New Supplier
                    </a>
                #{/else}
            </div>


                <br/>
                    <br/>
                    <input type="submit" value=" Save the new category" class="btn  btn-success btn-block " >



            </div>



            </div>



            <div class="col-md-5 col-md-offset-0">
                <br>

                <h4>Products</h4>

                <p>

                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt sed diam nonummy sed diam nonummy sed diam nonummy sed diam nonummy sed diam sed  ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ex ea commodo consequat. Duis autem dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum

                </p>

                <br>

                <a href="@{Products.index()}" class="btn  btn-primary btn-block " type="submit">
                    All available products
                </a>


            </div>

        #{/form}
        </div>


        <br><br><br>
    </div>


</div>



#{form_effect /}