#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Products</div>

    <div id="wrap">

<div class="row">

    <div class="col-md-12 pad custyle">

        <br>


        <div class="col-md-3 pull-left">
        <a href="@{Products.add()}" class="btn btn-success pull-left">
            <span class="glyphicon glyphicon-star"></span> New
        </a>
            </div>


        <div class="col-md-3 pull-right">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>



        <table class="table table-bordered table-responsive table-list-search table-striped custab">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th><span class="glyphicon glyphicon-folder-open"></span></th>
            </tr>
            </thead>
            <tbody>
            #{list items:items, as:'item'}
            <tr>
                <td>${item.name}</td>
                <td>${item.description}</td>
                <td>${item.price}</td>
                <td>${item.qte}</td>
                <td style="width:10.5%">
                    <a href="@{Products.show(item.id)}" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a href="@{Products.delete(item.id)}" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            #{/list}



            </tbody>
        </table>



        <ul class="pagination pull-right">
            <li><a href="@{Products.index()}?page=${previousPage}" >&laquo;</a></li>
        #{if numberOfPages > 0}
        #{list items:1..numberOfPages, as:'i'}

            <li #{if page == i}class="active"#{/if}><a  href="@{Products.index()}?page=${i}">${i}</a></li>


        #{/list}
        #{/if}
            <li><a href="@{Products.index()}?page=${nextPage}">&raquo;</a></li>

        </ul>




    </div>


</div>


    </div>

</div>