#{extends 'main.html' /}
#{set title:'Home' /}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Update product</div>


    <div id="">
        <div class="row pad">
        #{form  @Products.update(), enctype:'multipart/form-data'  }
            <div class="col-md-5 col-md-offset-1">


                <div class="form">





                    <br>

                    #{if flash.error}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close"  aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> Best check your self, you're not looking too good.
                        ${play.i18n.Messages.get(flash.error)}
                        </div>
                    #{/if}





                    <input value="${product.name}" type="text" name="name" id="name" class="form-control  " placeholder="Name"/>



                    Description

                    <textarea  name="description" id="description" class="form-control  " placeholder="Description">${product.description}</textarea>


                    <input value="${product.price}" type="text" name="price" id="price" class="form-control  " placeholder="Price"/>


                    <input type="file" name="attachment" id="attachment" class="form-control  " placeholder="Attachment"/>

                    <hr>


                    #{if product.attachment.get() != null}
                        <a target="#" href="@{Products.getUploadedFile(product.id)}">&{'general.download'}</a>
                    #{/if}

                    <hr>


                    #{if category != null}
                        Category : ${category.name}
                        <br>
                    #{/if}

                    #{if supplier != null}
                    Supplier : ${supplier.companyName}
                    #{/if}



                    <input type="hidden" name="id" value="${product.id}">

                    <br/>
                    <br/>
                    <input type="submit" value="Update category" class="btn  btn-success btn-block ">






                </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
                <br>
                <h4>User signing</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    sed diam nonummy sed diam nonummy sed diam nonummy sed diam nonummy sed diam sed ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ex ea commodo consequat. Duis autem dolor
                    in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                    at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                </p>
                <br>
                <a href="@{Users.index()}" class="btn  btn-primary btn-block " type="submit">
                    All available users
                </a>


            </div>

        #{/form}
        </div>


        <br><br><br>
    </div>


</div>


#{form_effect /}