<!DOCTYPE html>

<html lang="${lang}">
    <head>
        <title>Slevin - #{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />




        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-tools.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
         #{get 'moreScripts' /}


        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

        <!-- boots css -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-theme.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-glyphicons.css'}" >
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker.css'}" >


    </head>





    <body id="body" data-dateformat="${play.configuration['date.format']}">




    #{headerNavigation /}

    <div class="container-fluid col-md-offset-0">



        <div class="">
            <div class="col-md-9">

            <div id="messages">
            #{if flash.success}
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <strong>${play.i18n.Messages.get(flash.success)}</strong>
                </div>
            #{/if}
            #{if flash.error}
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <strong>${play.i18n.Messages.get(flash.error)}</strong>
                </div>
            #{/if}
            </div>



            </div>

            <div class="col-md-9 ">
                <div class="row">
                    <div class="col-md-12">
        #{doLayout /}
                    </div>
                </div>


            </div>

        </div>











    </div>

    #{menu /}


    </body>



    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/locales/bootstrap-datepicker.fr.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>





</html>
